.dropdown {
  width: 192px;
  padding: 10px;
  margin: auto;
}

.dropdown__button {
  font-size: 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.dropdown__content {
  display: none;
}

.dropdown__products,
.dropdown__purchase-options {
  list-style: none;
  padding: 0;
  padding: 0px;
  margin: 0;
}

.dropdown__content {
  background-color: #e1ece2;
  background: rgba(255, 255, 255, 0.6);
}

.dropdown__products > li,
.dropdown__purchase-options > li {
  font-size: 0.8em;
}

.dropdown__products > li:hover,
.dropdown__purchase-options > li:hover,
.dropdown__all-farms:hover {
  color: #087f18;
  text-decoration: underline;
  cursor: pointer;
}

.dropdown__content > h5 {
  margin: 0;
}

.dropdown:hover .dropdown__content {
  display: block;
}

@media screen and (min-width: 375px) {
  .dropdown__products > li,
  .dropdown__purchase-options > li,
  .dropdown > h5 {
    font-size: 0.9em;
  }

  .dropdown__content > h5 {
    font-size: 1.05em;
  }
}

@media screen and (min-width: 700px) {
  .dropdown__products > li,
  .dropdown__purchase-options > li {
    font-size: 1em;
  }
}