.login-page {
  border-radius: 3px;
  width: 260px;
  margin: auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.6);
}

.login-page > h2 {
  font-family: 'Lato', sans-serif;
}

.login-page__username,
.login-page__password {
  text-align: right;
  padding-right: 15px;
}

.login-page__username > input,
.login-page__password > input {
  padding: 7px 11px;
  margin: 5px 0;
  background-color: #e1ece2;
  border: 2px solid #0a320e;
  border-radius: 3px;
  width: 125px;
}

.login-page__password {
  margin-bottom: 15px;
}

.login-page__form > button {
  border: 2px solid #0a320e;
  background-color: #0a320e;
  color: white;
  border-radius: 10px;
  margin: 5px;
  padding: 6px;
  width: 110px;
  font-size: 0.9em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}

/* @media screen and (min-width: 400px) {
  .login-page {
    width: 75vw;
  }
} */

@media screen and (min-width: 700px) {
  .login-page {
    width: 350px;
  }

  .login-page__username,
.login-page__password {
  padding-right: 50px;
}

  .login-page__username > input,
  .login-page__password > input {
  width: 150px;
}
}