.hero {
  text-align: left;
  font-size: 1.3em;
  padding: 15px 25px 30px 25px;
}

.hero > h1 {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.hero > p {
  font-size: 0.8em;
  margin: 8px;
}

.hero > a {
  color: black;
}

@media screen and (min-width: 700px) {
  .hero {
    font-size: 2em;
    padding: 15px 25px 50px 100px;
  }

  .hero > p {
    font-size: 0.6em;
  }
}