.add-farm-page {
  margin-top: 20px;
  margin-bottom: 30px;
}

.add-farm-page__title {
  margin: 0;
}

/* Flexbox for positioning form elements */
.add-farm-page__farm-details,
.add-farm-page__purchase-details {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.add-farm-page__farm-details--label,
.add-farm-page__purchase-details--label {
  color: #0a320e;
  border-radius: 5px;
  padding: 30px 10px;
  font-size: 1.2em;
  text-transform: uppercase;
}

.add-farm-page__farm-details--form,
.add-farm-page__purchase-details--form {
  margin: 0;
  padding: 10px;
  border: 1px solid #087f18;
  border-radius: 5px;
}

.add-farm-page__products,
.add-farm-page__purchase-options {
  margin: 0;
  padding: 0;
}

.add-farm-page__farm-details--form > li,
.add-farm-page__purchase-details--form > li {
  list-style: none;
  padding: 5px;
}

.add-farm-page__products > li,
.add-farm-page__purchase-options > li {
  list-style: none;
}

/* .add-farm-page__farm-details > div,
.add-farm-page__purchase-details > div {
  border: 1px solid black;
} */

.add-farm-page__farm-details--form > li,
.add-farm-page__purchase-details--form > li,
.add-farm-page__products,
.add-farm-page__purchase-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.add-farm-page__farm-details--form > li > label,
.add-farm-page__purchase-details--form > li > label,
.add-farm-page__farm-details--form > li > div,
.add-farm-page__purchase-details--form > li > div {
  padding-right: 5px;
  text-align: left;
  /* flex: 1 0 120px; */
  max-width: 220px;
  min-width: 80vw;
}

.add-farm-page__farm-details--form > li > label + *,
.add-farm-page__purchase-details--form > li > label + *,
.add-farm-page__products,
.add-farm-page__purchase-options {
  flex: 1 0 220px;
}

.add-farm-page__products > li,
.add-farm-page__purchase-options > li {
  width: 200px;
  text-align: left;
}

.add-farm-page__products,
.add-farm-page__purchase-options {
  justify-content: space-between;
  padding: 10px 15px;
}

/* Styling text inputs and textareas */
.add-farm-page > input[type=text] {
  padding: 10px 15px;
  margin: 8px 0;
  background-color: #e1ece2;
  border: 2px solid #0a320e;
  border-radius: 3px;
  /* cursor: pointer; */
}

textarea {
  padding: 10px 15px;
  margin: 8px 0;
  background-color: #e1ece2;
  border: 2px solid #0a320e;
  border-radius: 2px;
  resize: none;
}

/* Styling checkboxes */
.add-farm-page__checkbox--label {
  display: block;
  position: relative;
  /* margin: auto; */
  padding-left: 30px;
  /* cursor: pointer; */
  /* font-size: 22px; */
  line-height: 30px;
  /* width: 20px; */
  clear: both;
}

.add-farm-page__checkbox--label input {
  position: absolute;
  opacity: 0;
  /* cursor: pointer; */
}
.add-farm-page__checkbox--label .add-farm-page__checkbox--custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid #0a320e;
  transition: all 0.3s ease-out;
}

.add-farm-page__checkbox--label input:checked ~ .add-farm-page__checkbox--custom {
  background-color: white;
  border-radius: 3px;
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid #0a320e;
}

.add-farm-page__checkbox--label .add-farm-page__checkbox--custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  border-radius: 3px;
  border: 2px solid #0a320e;
  border-width: 0 3px 3px 0;
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
}

.add-farm-page__checkbox--label input:checked ~ .add-farm-page__checkbox--custom::after {
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: 2px solid #0a320e;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

/* Styling buttons */

.add-farm-page__buttons > button {
  border: 2px solid #50875f;
  background-color: #50875f;
  color: white;
  border-radius: 10px;
  margin: 5px;
  padding: 6px;
  width: 110px;
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  -webkit-box-shadow: 2px 2px 3px 2px #e1ece2;
  -moz-box-shadow:    2px 2px 3px 2px #e1ece2;
  box-shadow:         2px 2px 3px 2px #e1ece2;
}

.add-farm-page__buttons > button[type=submit] {
  border: 2px solid #0a320e;
  background-color: #0a320e;
}

@media screen and (min-width: 700px) {
  .add-farm-page__farm-details,
  .add-farm-page__purchase-details {
    flex-direction: row;
    margin: 10px 40px;
  }

  .add-farm-page__farm-details--label,
  .add-farm-page__purchase-details--label {
    width: 25vw;
  }

  .add-farm-page__farm-details--form > li > label,
  .add-farm-page__purchase-details--form > li > label,
  .add-farm-page__farm-details--form > li > div,
  .add-farm-page__purchase-details--form > li > div {
  flex: 1 0 120px;
}

  .add-farm-page__farm-details--form,
  .add-farm-page__purchase-details--form {
    width: 65vw;
  }
}