.farm-list-item {
  margin: 20px;
  display: flex;
  /* flex-flow: row nowrap;
  align-items: center; */
}

.farm-list-item__title {
  margin: 0;
}

.farm-list-item__img {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
}

.farm-list-item__img--container {
  width: 25%;
}

.farm-list-item__info--container {
  width: 75%;
}