.farm-list-item {
  font-size: 0.8em;
  text-align: left;
  display: flex;
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 10px;
  -webkit-box-shadow: 2px 2px 3px 2px #B4BDB5;
  -moz-box-shadow:    2px 2px 3px 2px #B4BDB5;
  box-shadow:         2px 2px 3px 2px #B4BDB5;
}

.farm-list-item__img--container {
  display: flex;
}

.farm-list-item__info--container {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.farm-list-item__title {
  margin: 0;
}

.farm-list-item__title > a {
  color: #0a320e;
  cursor: pointer;
}

.farm-list-item__img {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  border-radius: 3px;
}



@media screen and (min-width: 400px) {
  .farm-list-item {
    font-size: 1em;
  }
}

@media screen and (min-width: 700px) {
  .farm-list-item__img {
    width: 150px;
    height: 150px;
  }

  .farm-list-item {
    width: 40vw;
    margin: 10px 10px 10px 10px;
  }
}


