.farm-list-item {
  font-size: 0.8em;
  /* margin: 20px; */
  display: flex;
  flex-direction: row;
  text-align: left;
  /* flex-flow: row nowrap;
  align-items: center; */

}

.farm-list-item__img--container {
  margin-top: 50%;
  margin-bottom: 50%;
}

.farm-list-item__title {
  margin: 0;
}

.farm-list-item__img {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
}



@media screen and (min-width: 400px) {
  .farm-list-item__img {
    width: 10vw;
    height: 10vw;
  }
}

@media screen and (min-width: 700px) {
  .farm-list-item {
    font-size: 1em;
    flex-direction: row;
    text-align: center;
  }

  .farm-list-item__img {
    width: 10vw;
    height: 10vw;
  }

  .farm-list-item__img--container {
    width: 25%;
  }
  
  .farm-list-item__info--container {
    width: 75%;
  }
}


