.registration-page {
  border-radius: 3px;
  width: 260px;
  margin: auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.6);
}

.registration-page > h3 {
  font-family: 'Lato', sans-serif;
}

.registration-page > button {
  border: 2px solid #50875f;
  background-color: #50875f;
  color: white;
  border-radius: 10px;
  margin: 5px;
  padding: 6px;
  width: 110px;
  font-size: 0.9em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .registration-page {
    width: 350px;
  }
}