
.app {
  text-align: center;
}

a {
  text-decoration: none;
}

.show-background {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url('../../Images/FarmLanding.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  height: 100vh;
}

