
.app {
  text-align: center;
}

a {
  text-decoration: none;
}



.app__header--color {
  background-image:
    linear-gradient(
      to top right,
      #50875f, #50875f, #84ab8f
    )
}

.show-background {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url('../../Images/FarmLanding.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  height: 100vh;
}

@media screen and (min-width: 700px) {
  .app__hero {
    font-size: 3em;
    padding: 30px 110px;
  }
}