@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.nav-bar {
  text-align: left;
  padding: 18px 15px;
  text-align: right;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.nav-bar > a {
  padding: 0px 8px;
  cursor: pointer;
  color: black;
}

@media screen and (min-width: 400px) {
  .nav-bar {
    font-size: 0.95em;
  }
  
  .nav-bar * {
    padding: 0px 10px;
  }
}

@media screen and (min-width: 700px) {
  .nav-bar {
    font-size: 1em;
  }
  
  .nav-bar * {
    padding: 0px 12px;
  }
}