.nav-bar {
  text-align: left;
  padding: 18px 15px;
  text-align: right;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.nav-bar > a {
  margin: 0px 8px;
  cursor: pointer;
  color: black;
}

.nav-bar > a:hover,
.selected {
  border-bottom: 2px solid black;
}

@media screen and (min-width: 400px) {
  .nav-bar {
    font-size: 0.95em;
  }
  
  .nav-bar * {
    margin: 0px 10px;
  }
}

@media screen and (min-width: 700px) {
  .nav-bar {
    font-size: 1em;
  }
  
  .nav-bar * {
    margin: 0px 15px;
  }
}