.results-page__farms-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 90%;
  margin: auto;
}

.results-page__farms-list > li {
  border: 1px solid black;
}

.results-page__add-farm {
  border: 1px solid black;
  background-color: lightgray;
  padding: 2px;
  font-size: 0.9em;
}

.results-page__no-farms {
  color: red;
  border: 1px solid black;
}