.search-page__farm-added--success {
  font-family: 'Lato', sans-serif;
  color: #50875f;
  padding: 10px;
}

.search-page__under-search-bar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.search-page__button--onboarding {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}